**/*.log
**/*.jou
**/*.bin
**/*.BIN
**/*.txt
**/*.x
**/*.str
**/*.protoinst
**/*.wcfg
**/*.wdb
**/*.xml
**/*.out
**/*.bif
**/*.xo
**/*.xclbin
**/*.xsa
**/.run
**/.Xil
**/TempConfig
**/sus_codegen.sv
**/emconfig.json
tests/*/VCK5000*/
tests/*/U280*/
.vscode/
